<meta charset="UTF-8">
<title>Base Web App</title>


<!-- First we import our css files -->

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<!-- font awesome css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="css/main.css" />



<!-- Next import js files -->

<!-- first we import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- then bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
    const apiKey = "<%= process.env.API_KEY %>";
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-database.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "<%= process.env.FIREBASE_API_KEY %>",
        authDomain: "hubspotapp-b9935.firebaseapp.com",
        databaseURL: "https://hubspotapp-b9935.firebaseio.com",
        projectId: "hubspotapp-b9935",
        storageBucket: "hubspotapp-b9935.appspot.com",
        messagingSenderId: "684625230335",
        appId: "1:684625230335:web:79fc05962468c365a40fca",
        measurementId: "G-D3R81N2JVR"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

<!-- then our app's own js file -->
<script src="js/main.js"></script>